<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - swaxted.bio</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <div>
                
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        &copy; 2024 - swaxted.bio
    </footer>
</body>
</html>
